 /*
font-family: 'Audiowide', cursive;
font-family: 'Gruppo', cursive;
font-family: 'Anton', sans-serif;
*/
.heading {
    font-family: 'Audiowide', cursive;
    
}
.nav-link {
    font-family: 'Anton', sans-serif;
    font-size: 2.2rem;
    font-weight: bolder;
}
.navbar-brand {
    font-family: 'Anton', sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
}

body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
  }
  
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
    position: relative;
    opacity: 0.75;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .bgimg-1 {
    background-image: url("/img/brandon-paul-2nsUkSqX2lw-unsplash.jpg");
    min-height: 100%;
  }
  
  .bgimg-2 {
    background-image: url("/img/joey-banks-YApiWyp0lqo-unsplash.jpg");
    min-height: 400px;
  }
  
  .bgimg-3 {
    background-image: url("/img/meritt-thomas-BwBxVVdlpYE-unsplash.jpg");
    min-height: 400px;
  }
  
  .bgimg-4 {
    background-image: url("/img/paul-habres-oDEA2rzF-7U-unsplash.jpg");
    min-height: 400px;
  }
  
  .bgimg-5 {
    background-image: url("/img/tyler-clemmensen-Zs_L-plsZzg-unsplash.jpg");
    min-height: 400px;
  }
  
  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  
  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }
  
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }
  
  
  }